<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <title>Detele Product Information </title>
    <meta charset="utf-8" />

    <!--<link href="../Content/bootstrap.css" rel="stylesheet" />-->

</head>

    <body style="background-color:#ffc1e3" background-position:center; background-size:cover">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#!Dashboard">Home</a>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Products function<span class="caret"></span></a>
                        <ol class="dropdown-menu">
                            <li><a href="productInfo.html" class="text-left text-danger"><span class="glyphicon glyphicon-plus"></span> Add Product</a></li>
                            <li><a href="updateProduct.html" class="text-left text-danger"><span class="glyphicon glyphicon-edit"></span> Update Product</a></li>
                            <li><a href="#!DeleteProduct" class="text-left text-danger"><span class="glyphicon glyphicon-trash"></span> Delete Product</a></li>
                        </ol>
                    </li>
                    <li><a href="#!" class="text-right text-danger"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </nav>
        <h2 class="text-center text-danger">Product Details</h2>
        <div class="row" ng-controller="DeleteProductController">
            <div class="col-md-6 col-md-offset-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Product Category</th>
                            <th>Produc Drescription</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in product">
                            <td>{{p.prodId}}</td>
                            <td>{{p.prodName}}</td>
                            <td>{{p.prodCat}}</td>
                            <td>{{p.prodDesc}}</td>
                            <td><button class="btn btn-danger btn-block" ng-click="delete(p.prodId)">Delete</button></td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <script src="../scripts/angular.js"></script>
            <script src="../scripts/angular-route.js"></script>
            <script src="../Service.js"></script>
            <script src="../Login.js"></script>
            <link href="../Content/bootstrap.min.css" rel="stylesheet" />
            <script src="../scripts/jquery-1.9.1.js"></script>
            <script src="../scripts/bootstrap.js"></script>
    </body>
</html>
