<!--<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title> Add Orders</title>
    <meta charset="utf-8" />



</head>
<body ng-controller="UpdateProductQuantityController"  style="background-color:#ffc1e3" background-position:center; background-size:cover>
    <input type="text" class="form-control" ng-model="batch" placeholder="batch No" />
    <input type="text" class="form-control" ng-model="batchQuantity" placeholder="quantity" />
    <input type="text" class="form-control" ng-model="batchCode" placeholder="batch code" />
    <h2 ng-repeat="p in product">
        <input class="btn btn-default" ng-click="UpdateQuantity(p.prodId)" type="button" value="Order Product">

    </h2>
  

</body>

</html>
<link href="../Content/bootstrap.css" rel="stylesheet" />
<script src="../scripts/angular.js"></script>
<script src="../scripts/angular-route.js"></script>
<script src="../Login.js"></script>
<script src="../Service.js"></script>-->
