<!DOCTYPE html>
<html>
<head>
    <title>supplier Sign IN</title>
    <meta charset="utf-8" />

</head>
<body ng-app="myApp">

    <div class="container-fluid">
        <form class="form-signin" ng-controller="suppController">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input ng-model="suppEmail" type="text" class="form-control" placeholder="Email address" required>
            <label for="inputPassword" class="sr-only">Password</label><br />
            <input ng-model="password" type="password" class="form-control" placeholder="Password" required><br />
            <button class="btn btn-lg btn-primary btn-block" ng-click="suppaccess()">Sign In</button>
        </form>
    </div>
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/angular-route.js"></script>
    <script src="../Login.js"></script>
    <script src="../Service.js"></script>
    <script src="../scripts/jquery-1.9.1.js"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../scripts/bootstrap.js"></script>
</body>

</html>

